.bodyListaDeContas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

.subMenuListaDeContas{
    width: 99vw;
    justify-content: end;
    display: flex;
    margin-top: 90px;
    padding-top: 10px;
}

.subMenuListaDeContas button{
    margin-right:10px;
    
}

.botaoPagamento{
    background-color: transparent;
    color: #260e69;
    border: solid 1px #260e69
}

.contentListaDeContas{
    margin-top: 20px;
}

/* .contentListaDeContas div{
    width: 100vw;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
    margin-top: 5px;
} */

/* .contentListaDeContas div:hover{
    background-color: #a6a6a6;
} */

.tituloConta, #movimentosConta{
    display: flex;
}


.statusTituloConta, .totalTituloConta{
    margin-left: 20vw;
}

#dataMovimentosConta, #valorMovimentosConta{
    margin-left: 20%;
}

#movimentosConta{
    background-color: #d9d9d9;
    padding: 5px;
    letter-spacing: 0.0em;
}
