.bodyMenu{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;

}

.bodyMenu div{
    width: 32%;
}

.tituloMenu{
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logoMenu img, .logoMenu svg{
    width: 5vw;
    margin-top: 10px;
    margin-left: 10px;
}

.iconeEditarCliente{
    margin-right: 20px;
}


.iconesControleMenu{
    display: flex;
    justify-content: end;
}

.iconesControleMenu{
    font-size: 15px;
}

.iconesControleMenu path{
    margin-left: 20px;
    cursor: pointer;
}
