.bodyHome{
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
    width: 100%;
   
}


.subMenu{
    margin-top: 90px;
    padding-top: 10px;
    display: flex;
    width: 100%;
}

.pesquisa{
    width: 58%;
    display: flex;
    justify-content: center;
}

.pesquisa input{
    width: 80%;
    border-radius: 20px;
    text-align: center;
    background-color: #a6a6a6;
    border: #a6a6a6;
}

.adicionarCliente{
    width: 38%;
    justify-content: end;
    display: flex;
}

.adicionarCliente button{
    margin-right: 3vw;
}

.listaClientes div{
    background-color: white;
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.listaClientes div:hover{
    background-color: #a6a6a6;
}

.tituloListaClientes, .listaClientes div{
    display: flex;
    width: 100%;
}

.tituloListaClientes p, .listaClientes div p{
    width: 50%;
    text-align: center;
}

.semClientes{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px){
    .botaoAdicionar{
        font-size: 10px;
    }
}