.envolveModal{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 20vh;
    text-align: center;
    padding: 30px;
}

.modal input{
    width: 80%;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    border: solid 2px black;
    background-color: #d9d9d9;
}