@font-face {
  font-family: "Codec";
  src: url("../public/fonts/Codec-Cold-Bold-trial.ttf") format(TrueType);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Codec', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #260e69;
  border: #260e69;
  color: white;
  padding: 10px;
}

button:hover{
  opacity: 0.8;
}

.botaoFechar, .botaoConfirmar{
  margin-top: 10px;
  width: 60%;
}

.botaoFechar{
  background-color: transparent;
  color: #260e69;
  border: solid 1px #260e69;
}
